body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-family: "Arial", sans-serif;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  max-width: 450px;
  background-color: #fff;
  text-align: center;
  padding: 10px 0;
  z-index: 1000;
}

.header-logo {
  width: 450px;
  height: auto;
}

.container {
  width: 500px;
  max-width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  height: calc(100vh - 60px);
  border-radius: 8px;
  overflow: visible;
}
.container::before,
.container::after {
  content: "";
  flex: 1;
  width: 100%;
}

.container::before {
  background-color: #fff; /* 위쪽 절반 배경색 */
}

.container::after {
  background-color: #fff; /* 아래쪽 절반 배경색 */
}

.input-area {
  margin: auto; /* 자동 마진으로 중앙에 배치 */
  z-index: 1; /* 배경색 위에 표시되도록 */
  position: relative;
  background-color: transparent;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px 20px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: gray;
}

.vertical-image {
  width: 400px; /* 가로 크기를 컨테이너와 동일하게 설정 */
  height: auto; /* 높이를 자동으로 조정하여 비율 유지 */
  object-fit: contain; /* 컨테이너 내에서 이미지가 잘리지 않도록 설정 */
  display: block; /* 이미지를 블록 레벨 요소로 설정 */
  margin: 10px auto; /* 상하 간격을 주고 가운데 정렬 */
}

.vertical-image.first {
  height: auto; /* 첫 번째 이미지 비율에 맞추어 자동으로 조정 */
  max-height: 30%; /* 첫 번째 이미지 최대 높이 제한 */
}

.vertical-image.second {
  height: auto; /* 두 번째 이미지 비율에 맞추어 자동으로 조정 */
  max-height: 20%; /* 두 번째 이미지 크기를 원래의 20%로 설정 */
}
