body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-family: Arial, sans-serif;
}

#app {
  width: 500px;
  max-width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #fff;
}

#quiz-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.page {
  display: block;
}

#option-buttons {
  margin-top: 20px;
}

.option-btn {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;
  border-color: orange;
  color: black;
  border: 2px solid orange;
  border-radius: 20px;
}

.option-btn:hover {
  background-color: orange;
}
